a.navbar-brand {
  margin-left: auto;
  font-size: xx-large;
  font-weight: 600;
  transition: linear;
}

a.navbar-brand:hover {
  color: rgb(255, 82, 39);
}

ul.navbar-nav {
  padding: auto;
  margin-left: auto;
  margin-right: 1%;
}

div.dropdown {
  margin-left: 1%;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation: 1s;
}

button.btn.btn-secondary {
  margin: auto;
  padding: auto;
  margin-top: 1cm;
}
